/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,rembed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/* Farben

Grün: #a5c400
Grün Text: #8cb110
Rosa: #ba7092
Grau: #595a59

*/

/* General */
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::selection {background: #000;color: #a5c400;}
::-moz-selection {background: #000;color: #a5c400;}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.left {float: left;}
.right {float: right;}

body {
	font-family: "Open Sans";
	margin-bottom:30px;
	background: #a5c400 url(images/panorama.png) top center no-repeat;
}
.wrapper{
	max-width: 960px;
	width: 100%;
	margin:0 auto;
}
.box_shadow {
	box-shadow: 0px 0px 3px black;
}
h1,h2,h3,h4,h5,h6 {
	color:#8cb110;
	font-weight: bold;
}
a,
a:focus,
a:visited,
a:active {
	color: #ba7092;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
p {
	margin:.8em 0 1.2em 0;
	line-height: 1.3em;
}
h1 { font-size: 2em}
h2 { 
	font-size: 1.3em; 
}
table {
	margin:2em 0;
	line-height: 1.3em;
}
table#termine {
	margin:.8em 0 1.2em 0;
	line-height: 1.1em;
}
table#termine td:first-child {
	width: 8em
}
table td,
table th{
	padding:.3em 0;
}
table th {
	width:8.125em;
	text-align: left;
	font-weight: bold;
	color:#8cb110;
}
b {
	font-weight: bold;
}

/*Header*/
#header_text{
	margin-bottom: 180px;
}
header h1 {
	text-align: center;
	padding:.2em .3em .3em .3em;
	background:#a5c400;
}
header h1 a,
header h1 a:focus,
header h1 a:visited,
header h1 a:active {
	text-shadow:2px 2px 2px #595a59;
	color:white;
	text-decoration: none;
}
header h1 a:hover {
	color:#eee;
	text-decoration: none;
}
header {

}
/*logo*/
#index_logo_container {
	text-align: center;
}
#index_logo_container h2 {
	color:#ba7092;
	font-size: 1.8em;
	padding:.8em 0;
}
#index_logo_container img {
	margin:auto;
}
#logo_container {
	width:100%;
	position: relative;
	font-size: 1.1em;
	font-weight: bold;
	color: #ba7092;
	height:118px;
}
	#logo_container span{
		position: absolute;	
		margin-top:53px;
	}
	#logo_container span:first-child {
		text-align: right;
		right:50%;
		margin-right:105px;
	}
	#logo_container span:last-child {
		text-align: left;
		left:50%;
		margin-left: 105px;
		}
	#logo_container img {
		position: absolute;
		margin:auto;
		width:176px;
		margin-left: -88px;
		left:50%;
	}
/*nav*/
#main_nav {
	background: rgba(90,90,90,0.8);
	text-align: center;

}
	#main_nav ul {
		list-style-type: none;
		padding:.7em;
	}
	#main_nav ul li {
		display: inline-block;
		margin:0 1em;
	}
	#main_nav ul li a,
	#main_nav ul li a:focus,
	#main_nav ul li a:active,
	#main_nav ul li a:visited,
	footer a,
	footer a:visited,
	footer a:focus,
	footer a:active {
		color:white;
		text-decoration: none;
		color: white;
		font-size: 1.1em;
	}
	#main_nav ul li a:hover {
		color: #ccc;
	}


/*content*/
img#rosi {
	margin:0 20px 20px 0;
}
h2.index {
	text-align: center;
	font-style: italic;
	font-size: 2em;
	line-height: 2em;
	color:#555;
	font-weight: normal;
}
div.content {
	padding-bottom: 200px;
	min-height: 600px;
	position: relative;
	background: #fff url(images/klangschale.jpg) center bottom no-repeat;
}
div.innerwrapper {
	padding:3em 5em;
}
ul#links {
	list-style-type: none;
	margin:.8em 0 1.2em 0;
}
ul#links li {
	float: left;
	width: 50%;
	margin:.8em 0;
}
ul#links li:nth-child(even) {
	padding-left:40px;
}

/*Footer*/
#footer_nav {
	position: absolute;
	bottom:0;
	right: 0;
	display: block;
	text-align: right;
	padding:.7em;
}
	#footer_nav ul {
		list-style-type: none;
	}
	#footer_nav ul li {
		display: inline-block;
		margin:0 .4em;
	}
	#footer_nav ul li a,
	#footer_nav ul li a:active,
	#footer_nav ul li a:focus,
	#footer_nav ul li a:visited {
		color:#595a59;
		font-weight: bold;
		text-decoration: none;
	}
	#footer_nav ul li a:hover {
		color:#000;
	}

footer {
	clear: both;
	background: #595a59;
	text-align: center;
	color: white;
	padding: .5em;
}